#global-shutter {
  position: fixed;
  inset: 0;
  background: black;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}

#global-shutter.active {
  opacity: 1;
  pointer-events: all;
}